---
# tasks file for homebrew-cask
# http://docs.ansible.com/ansible/latest/modules/homebrew_cask_module.html

- block:
  - block:
    - name: tap homebrew cask
      homebrew_tap:
        name: '{{ item }}'
        state: present
      with_items: '{{ homebrew_cask_taps | default([]) }}'

    - name: install homebrew cask packages
      community.general.homebrew_cask:
        name: "{{ item.name }}"
        state: present
      environment:
        HOMEBREW_CASK_OPTS: "--appdir=/Applications"
      # install_options: 'appdir=/Applications'
      with_items: '{{ homebrew_cask_packages | default([]) }}'

    - name: update brew list
      shell: brew list > brewlist.txt
      changed_when: false

    - name: update brew cask list
      shell: brew list --cask > casklist.txt
      changed_when: false

    tags:
      - homebrew-cask-main

  tags:
    - homebrew-cask
